*{
    box-sizing: border-box;
}

.purchase-links{
    display: flex; 
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

#purchase-box{
    width:clamp(200px,30vw,300px);
    aspect-ratio: 1/1.5;
    margin-top: 1%;
}

@media screen and (max-width: 300px){
    #purchase-box{
        width: 70vw;
        margin-top: 2vw;
    }
}
